/* myvars*/
:root {
    /* main colors*/
    --my-color-darker: #331D2C;
    --my-color-dark: #3F2E3E;

    --my-color-grey: #594056;

    --my-color-light:#A78295;
    --my-color-lighter: #e3cdb5;
    --my-color-lightest:#EFE1D1;

    /* font colors */
    --my-font-color-light: #fff;
    --my-font-color-normal: #000;
}


.org-src-container {
    background-color: var(--my-color-light);
    border-left-width: 5px;
    border-left-color: var(--my-color-grey);
    border-left-style: solid;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}



.my-header {
    background-color: var(--my-color-dark);
    color: var(--my-font-color-light);
    padding: 30px;
}

.my-navbar {
    background-color: var(--my-color-darker);
    padding: 5px 5px;
}

.my-navbar-item {
    width: 25%;
    color: var(--my-font-color-light);
}

.my-navbar-active {
    background-color: var(--my-color-grey);
}

.my-footer {
    background-color: var(--my-color-dark);
    color: var(--my-font-color-light);
}

.my-sidebar {
    background-color: var(--my-color-lighter);
}

/* ****************************/
/* hard settings for p5 pages */


html, body {
    border: 0px; 
    margin: 0px;
    padding: 0px;
    background-color: var(--my-color-lightest);
}

/* canvas p5 adjusts  */
canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
