
/*content class*/

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section{
    padding-left: 30px;
    padding-top: 30px;
}


.sidebar{
    float:left;
    width:25%;
    height:99%;
    background: #fffbf2;
}

.titlePane{
    padding: 10px;
    text-align: center;
    background-color: #bebec0;
    font-size:25px;
    color:#fcfcfc;
}

.content{
    float:left;
    width:75%;
    background-color:#fffdf9;
}

.main_page{
    background-color: #c1c1c1;
}


.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.main::after{
    content: "";
    display: table;
    clear: both;
}
nav
{
    
    background-color: #c8c8c8;
    font-size: 20px;
}


ul.navi
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navi{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.norm{
    color:black;
    text-align: left;
}

  
  /* selected link */
  a.norm {
    color: black;
    text-decoration: none;
    
  } 

p.sketch_item{
    background-color: #eee9a8;
    padding: 20px;
    width: 100%;
    color : black;
}

