            <div class="col-md-4">
                <div class="position-sticky p-1 my-sidebar" style="top: 1rem;">
                    <!-- CATEGORY A -->
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">About</h4>
                        <div>
                            This page is work in progress </br>
                            So please don't expect to much for now</br>
                            Yes the links above are not working</br>
                            <p></p>
                            And about me I'm an engineer trying to
                            buildt up this page and fill it with </br>
                            colorfull information and tutorials</br>
                            about:</br>
                            <ul>
                                <li> Programming</li>
                                <ul>
                                    <li> Love2d</li>
                                    <li> Processing</li>
                                    <li> Python</li>
                                </ul>
                                <li> Projets</li>
                                <li> Tutorials</li>
                                <li> Digital art ?</li>
                                <li> ....</li>
                            </ul>
                        </div>

                    </div>
                    <hr>
                    
                    <!-- CATEGORY B -->
                    <div>
                        <h4 class="fst-italic">Recent posts</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                    <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#777" />
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">First p5js examples</h6>
                                        <small class="text-body-secondary">Some years ago</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                    <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#777" />
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Usefull VScode plugins for web developement</h6>
                                        <small class="text-body-secondary">Some years ago</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <!-- CATEGORY C -->
                    <div>
                        <h4 class="fst-italic">Categories</h4>
                        <p>
                            to be added
                        </p>
                    </div>
                </div>
            </div>


<!--
     <div class="sidebar">
     <div class="titlePane"> <b>About</b> </div>
     <p></p>
     <div>
     This page is work in progress </br>
     So please don't expect to much for now</br>
     Yes the links above are not working</br>
     <p></p>
     And about me I'm an engineer trying to
     buildt up this page and fill it with </br>
     colorfull information and tutorials</br>
     about:</br>
     <ul>
     <li> Programming</li>
     <ul>
     <li> Love2d</li>
     <li> Processing</li>
     <li> Python</li>
     </ul>
     <li> Projets</li>
     <li> Tutorials</li>
     <li> Digital art ?</li>
     <li> ....</li>
     </ul>
     </div>
     <p></p>
     <div class="titlePane"> <b>Newest</b> </div>
     <p>Some small samples</p>
     <p>The  plugin lists</p>
     <p>This whole page </p>

     <div class="titlePane"> <b>Categories</b> </div>
     <p>There is nothing to see for now</p>
     </div> -->
