<header class="text-center my-header">
    <h1> [gen]  LyceasDevlog </h1>
</header>
<div class=" nav-scroller py-1 mb-3 border-bottom my-navbar">
    <nav class="nav justify-content-between">
        <a class="nav-item nav-link my-navbar-item my-navbar-active" href="index.html">Home</a>
        <a class="nav-item nav-link my-navbar-item" href="blog.html">Blog</a>
        <a class="nav-item nav-link my-navbar-item" href="project_overview.html">Projects</a>
        <a class="nav-item nav-link my-navbar-item" href="sketches/sketch_list.html">Sketches</a>
        <a class="nav-item nav-link my-navbar-item" href="about.html">About</a>
    </nav>
</div>
