        <div class="col-md-8">


<!-- BLOGPOST 1 -->
            <article class="blog-post">
                <h2> First p5js examples </h2>
                <p class="blog-post-meta"> some years ago </p>
                <p>
                    Here you can find some first samples which where created long ago by me
                    for some generated processing sketches, which are integrated into this page.
                </p>
                <p> 
                    <h3>Snowflakes:</h3>
                    <p> This is a simple sketch showing snow falling down in winter, it was one of my fist early sketches created</p>
                    <object data="sketches/snow_flakes/snow_flakes.html" type="text/html" height="500px" width = "500px" style="overflow:hidden; min-width: 101%; min-height: 101%"></object>
                </p>
                
                <h3>Rectangle:</h3>
                <p>Another small p5js example. This one was also one of my first sketches ever . </p>
                <object data="sketches/rectangles_1/rectangles_1.html" height="500px" type="text/html" width = "500px" style="overflow:hidden; min-width: 101%; min-height: 101%"></object>
            </article>
            
            <hr>
            <!-- BLOGPOST 2 -->
            <article class="blog-post">
                <h2>Usefull VScode Plugins for web developement </h2>
                <p class="blog-post-meta"> some years ago </p>
                <p>
                    This is a small listing of the  visual studio code
                    plugins that I used for editing this page back in the time of VScode usage </br>
                    Most of them I would recomend using even today ! 
                </p>
                <ul>
                    <li>Live server: Small server to have a version preview, actualieses once something has been adjusted in a page</li>
                    <li>CSSTree validator:  this corrects the css files and tells you that there is something wrong</li>
                    <li>IntelliSense for Css class names:  More css intellisense </li>
                    <li>ps5js Snippets: snippets for p5js verry usefull for codecompletion and the likes</li>
                    <li>Processing Language: for general processing, can mostly also be used for js variation to have nice snippets</li>
                    <li>VS Color picker: for picking css colors directly in a picker</li>
                </ul>
            </article>
        </div>
